{% extends "tasks/base.html" %}
{% block title %}Add Task{% endblock %}
{% block content %}
  <div class="task-form">
    <h1 class="mb-4">
      {% if form.instance.pk %}
        Update Task
      {% else %}
        Add Task
      {% endif %}
    </h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form.content.id_for_label }}" class="form-label">
          Content
        </label>
        {{ form.content }}
      </div>
      <div class="mb-3">
        <label for="{{ form.deadline.id_for_label }}" class="form-label">
          Deadline
        </label>
        {{ form.deadline }}
      </div>
      <div class="mb-4">
        <label for="{{ form.tags.id_for_label }}" class="form-label">
          Tags
        </label>
        {{ form.tags }}
      </div>
      <button type="submit" class="btn btn-primary">
        Save
      </button>
      <a href="{% url 'tasks:task-list' %}"
         class="btn btn-secondary">
        Cancel
      </a>
    </form>
  </div>
{% endblock %}